:root {
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

/* Code to hide input type=number spin-button */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Mobile-carousel */
#main-carousel-mobile {
    display: none;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert {
    position: fixed;
    top: 25px;
    right: 25px;
}

#dashboard-menu {
    position: fixed;
    height: 100%;
}

@media screen and (max-width: 991px) {
    #dashboard-menu {
        height: auto;
        width: 100%;
    }
    #main-content {
        margin-top: 60px;
    }
}